<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatisgenerator.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.mybatisgenerator.model.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="guid" jdbcType="VARCHAR" property="guid" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="phonenumber" jdbcType="VARCHAR" property="phonenumber" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="lastip" jdbcType="VARCHAR" property="lastip" />
    <result column="groupid" jdbcType="INTEGER" property="groupid" />
    <result column="blogid" jdbcType="INTEGER" property="blogid" />
    <result column="roleid" jdbcType="INTEGER" property="roleid" />
    <result column="isenabled" jdbcType="INTEGER" property="isenabled" />
    <result column="isdeleted" jdbcType="INTEGER" property="isdeleted" />
    <result column="createtime" jdbcType="DATE" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, guid, salt, phonenumber, email, lastip, groupid, blogid, 
    roleid, isenabled, isdeleted, createtime
  </sql>
  <insert id="insert" parameterType="com.mybatisgenerator.model.User">
    insert into user (id, username, password, 
      guid, salt, phonenumber, 
      email, lastip, groupid, 
      blogid, roleid, isenabled, 
      isdeleted, createtime)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{guid,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{phonenumber,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{lastip,jdbcType=VARCHAR}, #{groupid,jdbcType=INTEGER}, 
      #{blogid,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER}, #{isenabled,jdbcType=INTEGER}, 
      #{isdeleted,jdbcType=INTEGER}, #{createtime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.mybatisgenerator.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="guid != null">
        guid,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="phonenumber != null">
        phonenumber,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="lastip != null">
        lastip,
      </if>
      <if test="groupid != null">
        groupid,
      </if>
      <if test="blogid != null">
        blogid,
      </if>
      <if test="roleid != null">
        roleid,
      </if>
      <if test="isenabled != null">
        isenabled,
      </if>
      <if test="isdeleted != null">
        isdeleted,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="guid != null">
        #{guid,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null">
        #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="lastip != null">
        #{lastip,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="blogid != null">
        #{blogid,jdbcType=INTEGER},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="isenabled != null">
        #{isenabled,jdbcType=INTEGER},
      </if>
      <if test="isdeleted != null">
        #{isdeleted,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="selectByStringCondition" parameterType="java.lang.String" resultMap="BaseResultMap">
    select <include refid="Blob_Column_List" />
    from user
    where 1=1 #{condition,jdbcType=VARCHAR}
  </select>
  <select id="selectByCondition" parameterType="com.mybatisgenerator.model.User" resultMap="BaseResultMap">
    select <include refid="Blob_Column_List" />
    from user
     <where> 
      <if test="true">
        1=1 
      </if>
      <if test="username !=null ">
        and username = #{username,jdbcType=VARCHAR}
      </if>
      <if test="password !=null ">
        and password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="guid !=null ">
        and guid = #{guid,jdbcType=VARCHAR}
      </if>
      <if test="salt !=null ">
        and salt = #{salt,jdbcType=VARCHAR}
      </if>
      <if test="phonenumber !=null ">
        and phonenumber = #{phonenumber,jdbcType=VARCHAR}
      </if>
      <if test="email !=null ">
        and email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="lastip !=null ">
        and lastip = #{lastip,jdbcType=VARCHAR}
      </if>
      <if test="groupid !=null ">
        and groupid = #{groupid,jdbcType=INTEGER}
      </if>
      <if test="blogid !=null ">
        and blogid = #{blogid,jdbcType=INTEGER}
      </if>
      <if test="roleid !=null ">
        and roleid = #{roleid,jdbcType=INTEGER}
      </if>
      <if test="isenabled !=null ">
        and isenabled = #{isenabled,jdbcType=INTEGER}
      </if>
      <if test="isdeleted !=null ">
        and isdeleted = #{isdeleted,jdbcType=INTEGER}
      </if>
      <if test="createtime !=null ">
        and createtime = #{createtime,jdbcType=DATE}
      </if>
     </where>
  </select>
  <delete id="deleteByGuid" parameterType="java.lang.Integer">
    delete from user
     where guid = #{guid,jdbcType=VARCHAR}
  </delete>
  <select id="selectByGuid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
     from user
     where guid = #{guid,jdbcType=VARCHAR}
  </select>
  <update id="updateByGuid" parameterType="com.mybatisgenerator.model.User">
    update user
    set
     username = #{username,jdbcType=VARCHAR},
     password = #{password,jdbcType=VARCHAR},
     guid = #{guid,jdbcType=VARCHAR},
     salt = #{salt,jdbcType=VARCHAR},
     phonenumber = #{phonenumber,jdbcType=VARCHAR},
     email = #{email,jdbcType=VARCHAR},
     lastip = #{lastip,jdbcType=VARCHAR},
     groupid = #{groupid,jdbcType=INTEGER},
     blogid = #{blogid,jdbcType=INTEGER},
     roleid = #{roleid,jdbcType=INTEGER},
     isenabled = #{isenabled,jdbcType=INTEGER},
     isdeleted = #{isdeleted,jdbcType=INTEGER},
     createtime = #{createtime,jdbcType=DATE}
     where guid = #{guid,jdbcType=VARCHAR}
  </update>
  <update id="updateByGuidSelective" parameterType="com.mybatisgenerator.model.User">
    update user
    <set> 
    <trim suffixOverrides="," >
     <if test="username != null">
      username = #{username,jdbcType=VARCHAR},
     </if>
     <if test="password != null">
      password = #{password,jdbcType=VARCHAR},
     </if>
     <if test="guid != null">
      guid = #{guid,jdbcType=VARCHAR},
     </if>
     <if test="salt != null">
      salt = #{salt,jdbcType=VARCHAR},
     </if>
     <if test="phonenumber != null">
      phonenumber = #{phonenumber,jdbcType=VARCHAR},
     </if>
     <if test="email != null">
      email = #{email,jdbcType=VARCHAR},
     </if>
     <if test="lastip != null">
      lastip = #{lastip,jdbcType=VARCHAR},
     </if>
     <if test="groupid != null">
      groupid = #{groupid,jdbcType=INTEGER},
     </if>
     <if test="blogid != null">
      blogid = #{blogid,jdbcType=INTEGER},
     </if>
     <if test="roleid != null">
      roleid = #{roleid,jdbcType=INTEGER},
     </if>
     <if test="isenabled != null">
      isenabled = #{isenabled,jdbcType=INTEGER},
     </if>
     <if test="isdeleted != null">
      isdeleted = #{isdeleted,jdbcType=INTEGER},
     </if>
     <if test="createtime != null">
      createtime = #{createtime,jdbcType=DATE},
     </if>
    </trim>
    </set>
     where guid = #{guid,jdbcType=VARCHAR}
  </update>
</mapper>